html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor {
    max-width: 1152px;
    margin: 0 auto;

}

legend {
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    text-align: center;
    font-size: 24px;
    padding: 20px 0; 
}

input {
    padding: 5px;
}

textarea{
    margin-bottom: 20px;
}