html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor {
    max-width: 1152px;
    margin: 0 auto;

}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}